.hangar-header {
    padding: 0;
    position: relative;
    height: 66px;
    line-height: 63px;
    z-index:3;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;
    border-bottom: rgba(0,0,0,0.05) 1px solid;

    @media (min-width: 768px) {
        .show-mobile-hide-desktop {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .show-desktop-hide-mobile {
            display: none;
        }
    }

    .burger-icon {
        padding-left: 10px;
        font-size: 24px;
        line-height: 66px;
    }
}

.light {
    background-color: #fff;
}
