#hangar-header {

    padding: 0;
    -webkit-box-shadow: 0 2px 8px #f0f1f2;
    box-shadow: 0 2px 8px #f0f1f2;

    .logo-container {
        min-width: 260px;
        padding-left: 15px;
    }

    &.light {
        background-color: #fff;
        border-bottom: rgba(0,0,0,0.05) 1px solid;
    }

    .offcanvas {
        float:left;
    }

    .offcanvas-icon {
        font-size: 24px;
        line-height: 66px;
    }

    .extra {
        text-align: right;
    }

    @media (min-width: 768px) {
        .show-mobile-hide-desktop {
            display: none;
        }
    }

    @media (max-width: 768px) {
        .show-desktop-hide-mobile {
            display: none;
        }
    }

}