.logo {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    padding-left: 5px;

    .image {
        cursor: pointer;
        display: inline-block;
        height: 55px;
        width: 55px;
        line-height: 55px;
    }

    .text {
        cursor: pointer;
        display: block;
        position: relative;
        width: 274px;
    }

    .version {
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: 40px;
        background: transparent;
    }
}

.light-header, .light-sider {
    .logo {
        color: #000
    }

    .version {
        background-color: #FFF;
        color: #000;
    }
}

.dark-header, .dark-sider {
    .logo {
        color: #fff
    }

    .version {
        background-color: #001529;
        color: #FFF;
    }
}

