.logo {
    a {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
    }

    .image {
        cursor: pointer;
        display: inline-block;
        height: 55px;
        width: 55px;
        float:left;
    }

    .text {
        cursor: pointer;
        display: block;
        margin-left: 5px;
        width: 274px;
    }

    .version {
        margin-left: 54px;
        margin-top: -13px;
        font-size: 10px;
        font-weight: bold;
        height: 0;
        display: inline-block;
        float: left;
        line-height: 0;
    }
}

.light-header, .light-sider {
    .logo a {
        color: #000
    }

    .version {
        background-color: #FFF;
        color: #000;
    }
}

.dark-header, .dark-sider {
    .logo a {
        color: #fff
    }

    .version {
        background-color: #001529;
        color: #FFF;
    }
}

